
   .icon.icon-arrow {
         width: 1.40625em;
         height: 0.25em;
     }

   .icon.icon-big-lens {
         width: 1.46875em;
         height: 1.46875em;
     }

   .icon.icon-bitcoin {
         width: 0.40625em;
         height: 0.5625em;
     }

   .icon.icon-cab {
         width: 0.625em;
         height: 0.625em;
     }

   .icon.icon-down-arrow {
         width: 0.5em;
         height: 4.3125em;
     }

   .icon.icon-facebook {
         width: 1em;
         height: 1em;
     }

   .icon.icon-hotel {
         width: 2.65625em;
         height: 2.65625em;
     }

   .icon.icon-lens {
         width: 0.75em;
         height: 0.75em;
     }

   .icon.icon-map-marker {
         width: 0.90625em;
         height: 1.25em;
     }

   .icon.icon-mobile {
         width: 1.90625em;
         height: 2.96875em;
     }

   .icon.icon-odnoklassniki {
         width: 1em;
         height: 1em;
     }

   .icon.icon-question {
         width: 0.625em;
         height: 0.625em;
     }

   .icon.icon-twitter {
         width: 1em;
         height: 1em;
     }

   .icon.icon-vk {
         width: 1em;
         height: 1em;
     }

   .icon.icon-wallet {
         width: 2.59375em;
         height: 2.96875em;
     }
