.arrival
    display flex
    font-weight bold
    line-height 1
    &__heading
        set('font-size', 18px n n n 20px)
        set('margin-bottom', 16px n n 20px)
        display flex 
        align-items center
        justify-content space-between
        text-transform uppercase
    &__time
        set('font-size', 40px n n 60px)
        set('padding-bottom', 16px n n 20px)
        set('margin-bottom', 16px n n 20px)
        border-bottom 5px solid black
    &__name
        set('font-size', 16px n n 24px)
        text-transform uppercase
    &__from 
        margin-right 50px
