.breadcrumbs
    set('font-size', 14px 15px 16px 18px)
    color #8C8C8C
    font-family $Gotham
    margin-bottom 20px!important
    a 
        color #8C8C8C
    ul
        display flex
        li:not(:last-child)
            padding-right 10px
            margin-right 10px
            position relative
            &:after
                content '/'
                position absolute
                right -5px

