.curency-form, .language-form
	select, option
		padding 8px 10px
		border 1px solid #8C8C8C
		background-color transparent
		width 80px
		color #8C8C8C
		font-weight bold	
		&:focus
			color #5D5D5D
	