.owl-arrows
    display flex
    align-items center
    color #161717
    &__prev, &__next
        cursor pointer
        padding 15px
        &.disabled
            opacity 0.5
            cursor default
    &__prev
        transform rotateY(180deg)
    &__divider
        height 30px
        width 1px
        background-color currentColor
                