.search-form
	display flex	
	align-items center
	input
		border none
		background transparent 
		set('width', 0 120px 240px)
		position relative
		border-width 0 0 2px 0
		border-style solid 
		border-image $baseGradient 1
		font-size 13px
		padding 5px 15px
		
	button
		flex-basis 32px
		display flex 
		align-items center
		cursor pointer
		svg 
			fill url('#smallGradient')